
include LICENSE
include README.rst
include *.txt

include version.py
include VERSION
recursive-include docs *
recursive-include examples *

# exclude all bytecode
global-exclude *.pyo
global-exclude *.pyc
